---
import { getCollection } from 'astro:content';

import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import PortfolioPreview from '../components/PortfolioMusic.astro';
import Hero from '../components/Hero.astro';
import Grid from '../components/Grid.astro';

const musics = (await getCollection('music')).sort(
	(a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf()
);
---

<BaseLayout
	title="My music | Yi Lin"
	description="Learn about Yi Lin's most recent musics"
>
	<div class="stack gap-20">
		<main class="wrapper stack gap-8">
			<Hero
				title="My Music"
				tagline="紀錄樂團生活的每一刻，留下回憶與故事。"
				align="start"
			/>
			<Grid variant="offset">
				{
					musics.map((music) => (
						<li>
							<PortfolioPreview music={music} />
						</li>
					))
				}
			</Grid>
		</main>
		<ContactCTA />
	</div>
</BaseLayout>
